%table.table
  %thead.heading-section
    %tr
      %th{:scope => "col"} Title
      %th{:scope => "col"} Description
      %th{:scope => "col"} Author
  %tbody.table-background
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.description
        %td= book.author
