- @books.each do |book|
  %tr
    %td= book.title
    %td= book.description
    %td= book.author
    %td= link_to "Show", book_path(book), :class => "link-color"
    - if policy(book).edit?
      %td= link_to "Edit", edit_book_path(book), :class => "link-color"
    - if policy(book).destroy?
      %td= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?" }, :class => "link-color"
