= bootstrap_form_with model: @book, local: true do |form|
  %div
    = form.text_field :title
  %div
    = form.text_area :description
    %br/
  %div
    = form.text_area :author
    %br/
  %div
    = form.submit t('books.form.submit')
