%br/
- if policy(Book).new?
  = link_to "New", new_book_path, :class => "link-color btn btn-light"
%br/
%table.table
  %thead.heading-section
    %tr
      %th{:scope => "col"} Title
      %th{:scope => "col"} Description
      %th{:scope => "col"} Author
      %th{:scope => "col"}
      %th{:scope => "col"} Action
      %th{:scope => "col"}
  %tbody.table-background
    = render partial: 'books/book', collection: @books, cached: true
