// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.link-color{
  color: #0a67cc;
  border-color: #0a67cc;
}
