%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"}= t '.library'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %form.form-inline.my-2.my-lg-0{:action => "/search"}
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %button.btn.btn-primary.my-2.my-sm-0{:type => "submit"} Search
  %ul.navbar-nav.mr-auto
    %li.nav-item.active
      - if user_signed_in?
        = link_to "Edit Registration", edit_user_registration_path, :class => 'navbar-brand'
        = link_to "LogOut", destroy_user_session_path, method: :delete, :class => 'navbar-brand'
        = link_to current_user.email, :class => 'navbar-brand'
      - else
        = link_to "SignUp", new_user_registration_path, :class => 'navbar-brand'
        = link_to "LogIn", new_user_session_path, :class => 'navbar-brand'
